 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 852px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 918px;
  margin: 40px 75px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 212px;
}

.u-section-1 .u-image-1 {
  width: 166px;
  height: 166px;
  margin: 0 auto 0 10px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 212px;
}

.u-section-1 .u-icon-1 {
  height: 43px;
  width: 43px;
  margin: 44px auto 0 115px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  margin: -41px 10px 0 59px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 36px 20px 0 190px;
}

.u-section-1 .u-image-2 {
  height: 499px;
  object-position: 50% 83.64%;
  background-position: 50% 83.64%;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 466px;
  height: auto;
  margin: -482px auto 60px 36px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-1 .u-text-3 {
  font-size: 6rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 40px 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 90px;
  height: 3px;
  transform-origin: left center 0;
  margin: 10px auto 40px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 733px;
    margin-right: 22px;
    margin-left: 104px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-1 .u-image-1 {
    width: 153px;
    height: 153px;
    margin-top: 39px;
    margin-left: 16px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 109px;
    margin-left: 56px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -108px;
    margin-right: 16px;
    margin-left: 93px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 75px;
    margin-right: 16px;
    margin-left: 145px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-left: 31px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.5rem;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 283px;
  }

  .u-section-1 .u-image-1 {
    width: 161px;
    height: 162px;
    margin-top: 43px;
    margin-left: 23px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 210px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 119px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
    margin-left: 104px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
    margin-left: 121px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    margin-left: 23px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 435px;
    margin-top: 50px;
    margin-right: 0;
    margin-left: 53px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 291px;
  }

  .u-section-1 .u-image-1 {
    width: 153px;
    margin-top: 0;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 165px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 62px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: -82px;
    margin-right: 58px;
    margin-left: 129px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-image-2 {
    object-position: 56.22% 100%;
    background-position: 56.22% 100%;
    margin-top: 18px;
  }

  .u-section-1 .u-group-1 {
    width: 338px;
    margin-left: 18px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-right: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-1 .u-image-1 {
    width: 125px;
    height: 125px;
    margin-top: 42px;
    margin-left: 11px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 164px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 17px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -36px;
    margin-right: 6px;
    margin-left: 116px;
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 89px;
  }

  .u-section-1 .u-image-2 {
    object-position: 61.9% 0%;
    background-position: 61.9% 0%;
  }

  .u-section-1 .u-group-1 {
    width: 318px;
    min-height: 453px;
    margin-top: -453px;
    margin-left: auto;
    margin-bottom: 44px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 6px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 45px;
    transform-origin: left center 0px;
    margin-bottom: 0;
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 823px;
}

.u-section-2 .u-group-1 {
  width: 714px;
  min-height: 128px;
  height: auto;
  margin: 50px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 10px auto 67px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-3 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-4 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-5 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-6 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-7 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-4 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-8 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-9 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-5 {
  background-image: none;
  min-height: 314px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-5 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 50px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-10 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-11 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-6 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-6 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 28px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-12 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-13 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 589px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 284px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 451px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 423px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before,
.u-section-2 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  color: #f1c50e !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-1 .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  color: #f1c50e !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before,
.u-section-2 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before,
.u-section-2 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before,
.u-section-2 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-5,
.u-section-2 .u-icon-5:before,
.u-section-2 .u-icon-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-5 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-5 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-6,
.u-section-2 .u-icon-6:before,
.u-section-2 .u-icon-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-6 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-6 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(255,255,255,0.65)), url("images/b3da07dba4061211b19f5e2aa6b3abda.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 524px;
  margin: 0 auto;
}

.u-section-3 .u-group-1 {
  width: 937px;
  min-height: 396px;
  height: auto;
  margin: 45px auto 60px 85px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  width: 673px;
  margin: 38px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 83px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 772px;
    margin-left: 3px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 555px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 592px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    width: 425px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    width: 399px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: 335px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 746px;
}

.u-section-4 .u-group-1 {
  width: 1009px;
  min-height: 238px;
  height: auto;
  margin: 45px 55px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 45px 0;
}

.u-section-4 .u-image-1 {
  min-height: 422px;
  background-image: url("images/pre2.jpeg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/pre1.jpeg");
  min-height: 422px;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-3 {
  background-image: url("images/76fab2972f81f9b7b0ca7b8eca061d37.jpeg");
  min-height: 422px;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-4 .u-group-1 {
    width: 704px;
    margin-right: 96px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 400px;
  }

  .u-section-4 .u-image-2 {
    min-height: 400px;
  }

  .u-section-4 .u-image-3 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 539px;
    margin-right: 73px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-image-1 {
    min-height: 267px;
  }

  .u-section-4 .u-image-2 {
    min-height: 267px;
  }

  .u-section-4 .u-image-3 {
    min-height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 485px;
    min-height: 186px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-1 {
    min-height: 601px;
  }

  .u-section-4 .u-image-2 {
    min-height: 601px;
  }

  .u-section-4 .u-image-3 {
    min-height: 601px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1607px;
  }

  .u-section-4 .u-group-1 {
    min-height: 303px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 378px;
  }

  .u-section-4 .u-image-2 {
    min-height: 378px;
  }

  .u-section-4 .u-image-3 {
    min-height: 378px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 1104px;
}

.u-section-5 .u-group-1 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 1104px;
  height: auto;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  background-image: linear-gradient(#b9c1cc, #f9e79b);
}

.u-section-5 .u-container-layout-1 {
  padding: 80px 30px 30px;
}

.u-section-5 .u-text-1 {
  width: 690px;
  font-size: 3rem;
  margin: 16px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 921px;
  margin: 129px auto 0;
}

.u-section-5 .u-image-1 {
  min-height: 357px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/case4.jpeg");
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 356px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/case1.jpeg");
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 356px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 357px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  margin-top: 0;
  margin-bottom: -107px;
  height: 435px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-5 .u-image-4 {
  min-height: 356px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/case2.jpeg");
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 357px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 0;
}

.u-section-5 .u-image-5 {
  width: 287px;
  height: 413px;
  margin: -771px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 880px;
  }

  .u-section-5 .u-image-1 {
    min-height: 341px;
  }

  .u-section-5 .u-image-2 {
    min-height: 340px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 340px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 341px;
  }

  .u-section-5 .u-image-3 {
    height: 416px;
  }

  .u-section-5 .u-image-4 {
    min-height: 340px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 341px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    min-height: 1916px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 90px;
  }

  .u-section-5 .u-text-1 {
    width: 660px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 660px;
  }

  .u-section-5 .u-image-1 {
    min-height: 384px;
  }

  .u-section-5 .u-image-2 {
    min-height: 383px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 383px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 384px;
  }

  .u-section-5 .u-image-3 {
    height: 468px;
  }

  .u-section-5 .u-image-4 {
    min-height: 765px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    min-height: 3424px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: 520px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 520px;
  }

  .u-section-5 .u-image-1 {
    min-height: 605px;
  }

  .u-section-5 .u-image-2 {
    min-height: 604px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 604px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 605px;
  }

  .u-section-5 .u-image-3 {
    margin-bottom: 0;
    height: 601px;
  }

  .u-section-5 .u-image-4 {
    min-height: 603px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-container-layout-1 {
    padding-top: 60px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: 320px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 320px;
  }

  .u-section-5 .u-image-1 {
    min-height: 372px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-2 {
    min-height: 372px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 372px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 372px;
  }

  .u-section-5 .u-image-3 {
    height: 370px;
  }

  .u-section-5 .u-image-4 {
    min-height: 371px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.u-section-5 .u-group-1,
.u-section-5 .u-group-1:before,
.u-section-5 .u-group-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-group-1.u-group-1.u-group-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-group-1 {
  border-color: transparent !important;
}

.u-section-5 .u-group-1.u-group-1.u-group-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-5 .u-group-1 {
  border-color: transparent !important;
}

.u-section-5 .u-container-layout:hover .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-5 .u-group-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 685px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 169px;
  height: auto;
  margin: 56px auto 0 283px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 49px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 20px auto 40px 0;
}

.u-section-6 .u-layout-cell-1 {
  background-image: none;
  min-height: 450px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-image-1 {
  width: 220px;
  height: 219px;
  margin: 40px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  position: relative;
  margin: 30px 0 0;
}

.u-section-6 .u-text-3 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 450px;
}

.u-section-6 .u-container-layout-3 {
  padding-right: 30px;
}

.u-section-6 .u-image-2 {
  width: 220px;
  height: 219px;
  margin: 40px auto 0;
}

.u-section-6 .u-text-4 {
  font-size: 1.5rem;
  position: relative;
  margin: 30px 0 0;
}

.u-section-6 .u-text-5 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 450px;
}

.u-section-6 .u-container-layout-4 {
  padding-right: 30px;
}

.u-section-6 .u-image-3 {
  width: 220px;
  height: 219px;
  margin: 40px auto 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  position: relative;
  margin: 30px 0 0;
}

.u-section-6 .u-text-7 {
  position: relative;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-6 .u-group-1 {
    width: 470px;
    margin-left: 233px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 181px;
    height: 181px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 41px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 25px;
  }

  .u-section-6 .u-image-2 {
    width: 181px;
    height: 181px;
    margin-top: 78px;
    margin-left: 50px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 33px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 25px;
  }

  .u-section-6 .u-image-3 {
    width: 181px;
    height: 181px;
    margin-top: 78px;
    margin-left: 50px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 360px;
    margin-left: 179px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-6 .u-image-1 {
    height: 139px;
    width: 139px;
  }

  .u-section-6 .u-text-2 {
    margin-left: -23px;
    margin-right: -23px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 9px;
    padding-left: 9px;
  }

  .u-section-6 .u-image-2 {
    width: 139px;
    height: 139px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    width: 267px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    width: 267px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 9px;
    padding-left: 9px;
  }

  .u-section-6 .u-image-3 {
    width: 139px;
    height: 139px;
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    width: 267px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-7 {
    width: 267px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-6 .u-group-1 {
    width: 452px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-6 .u-image-1 {
    width: 130px;
    height: 130px;
  }

  .u-section-6 .u-text-2 {
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 352px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .u-section-6 .u-image-2 {
    width: 130px;
    height: 130px;
  }

  .u-section-6 .u-text-4 {
    width: 250px;
  }

  .u-section-6 .u-text-5 {
    width: 250px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 358px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .u-section-6 .u-image-3 {
    width: 130px;
    height: 130px;
  }

  .u-section-6 .u-text-6 {
    width: 250px;
  }

  .u-section-6 .u-text-7 {
    width: 250px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-6 .u-group-1 {
    width: 298px;
    min-height: 189px;
    margin-top: 55px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 260px;
  }

  .u-section-6 .u-image-1 {
    width: 109px;
    height: 109px;
    margin-top: 20px;
  }

  .u-section-6 .u-text-2 {
    width: 199px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-right: 9px;
    padding-left: 4px;
  }

  .u-section-6 .u-image-2 {
    width: 109px;
    height: 109px;
  }

  .u-section-6 .u-text-4 {
    width: 210px;
  }

  .u-section-6 .u-text-5 {
    width: 210px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-right: 9px;
    padding-left: 4px;
  }

  .u-section-6 .u-image-3 {
    width: 109px;
    height: 109px;
  }

  .u-section-6 .u-text-6 {
    width: 210px;
  }

  .u-section-6 .u-text-7 {
    width: 210px;
  }
} .u-section-7 {
  background-image: linear-gradient(white, #adcce9);
}

.u-section-7 .u-sheet-1 {
  min-height: 1115px;
}

.u-section-7 .u-shape-1 {
  width: 246px;
  height: 246px;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 343px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/cover.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -246px auto 0 138px;
}

.u-section-7 .u-shape-2 {
  width: 168px;
  height: 168px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -493px auto 0 32px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1002px;
  margin: 325px 21px 0 auto;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 581px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-list-1 {
  width: 459px;
  margin: 43px -9px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-7 .u-list-item-1 {
  background-image: none;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-7 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-7 .u-text-2 {
  margin: 20px 1px 0 0;
}

.u-section-7 .u-list-item-2 {
  background-image: none;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-7 .u-icon-2 {
  vertical-align: 0px;
}

.u-section-7 .u-text-4 {
  margin: 20px 1px 0 0;
}

.u-section-7 .u-list-item-3 {
  background-image: none;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-7 .u-icon-3 {
  vertical-align: 0px;
}

.u-section-7 .u-text-6 {
  margin: 20px 1px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-text-7 {
  margin: 1px auto 0;
}

.u-section-7 .u-form-1 {
  height: 415px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 1px;
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-7 .u-shape-1 {
    width: 218px;
    height: 218px;
    margin-right: 30px;
  }

  .u-section-7 .u-image-1 {
    width: 695px;
    height: 695px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -500px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 852px;
    margin-top: 332px;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 545px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 574px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 25px;
  }

  .u-section-7 .u-shape-2 {
    margin-top: -518px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 350px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1675px;
  }

  .u-section-7 .u-shape-1 {
    width: 184px;
    height: 184px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 507px;
    height: 507px;
    margin-left: 33px;
  }

  .u-section-7 .u-shape-2 {
    width: 140px;
    height: 140px;
    margin-top: -84px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -56px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-7 .u-shape-1 {
    width: 139px;
    height: 139px;
  }

  .u-section-7 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-shape-2 {
    width: 94px;
    height: 94px;
    margin-top: -90px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: -4px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}