 .u-section-1 {
  background-image: linear-gradient(#f2f2f2, #e9f2fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 853px;
  margin: 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  width: 918px;
  margin: 98px 75px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 212px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-1 .u-image-1 {
  width: 166px;
  height: 166px;
  margin: 13px auto 0 29px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 212px;
}

.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-1 .u-icon-1 {
  height: 43px;
  width: 43px;
  margin: 44px auto 0 115px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.3125rem;
  margin: -41px 10px 0 59px;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 36px 20px 0 190px;
}

.u-section-1 .u-image-2 {
  height: 499px;
  object-position: 50% 83.64%;
  background-position: 50% 83.64%;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 466px;
  height: auto;
  margin: -482px auto -358px 36px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-1 .u-text-3 {
  font-size: 6rem;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 40px 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  text-shadow: -2px 5px 4px rgba(128,128,128,1);
  margin: 20px 20px 0 0;
}

.u-section-1 .u-line-1 {
  width: 90px;
  height: 3px;
  transform-origin: left center 0;
  margin: 10px auto 40px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: 22px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 263px;
  }

  .u-section-1 .u-image-1 {
    width: 153px;
    height: 153px;
    margin-top: 36px;
    margin-left: 72px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 17px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-top: 75px;
    margin-right: 16px;
    margin-left: 145px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-1 .u-text-3 {
    font-size: 4.5rem;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 74px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 161px;
    height: 162px;
    margin-top: 103px;
    margin-left: 23px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 120px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 13px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 13px;
    margin-left: 121px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 13px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 173px;
  }

  .u-section-1 .u-image-1 {
    width: 135px;
    height: 135px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 132px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 25px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 71px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-image-2 {
    object-position: 56.22% 100%;
    background-position: 56.22% 100%;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 9px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.75rem;
    margin-right: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1043px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 125px;
    height: 125px;
    margin-top: 17px;
    margin-left: 14px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 163px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 17px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    font-size: 1.875rem;
    margin-top: -36px;
    margin-right: 6px;
    margin-left: 116px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 89px;
  }

  .u-section-1 .u-image-2 {
    object-position: 61.9% 0%;
    background-position: 61.9% 0%;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 6px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 6px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 45px;
    transform-origin: left center 0px;
    margin-bottom: 0;
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-text-3 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: linear-gradient(#e9f2fa, #e5e5e5);
}

.u-section-2 .u-sheet-1 {
  min-height: 823px;
}

.u-section-2 .u-group-1 {
  width: 714px;
  min-height: 128px;
  height: auto;
  margin: 50px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
  position: relative;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 10px auto 67px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-1 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-2 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-3 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-2 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-2 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-4 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-5 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 284px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-3 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 28px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-6 {
  position: relative;
  margin: 30px 20px 0;
}

.u-section-2 .u-text-7 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 28px;
}

.u-section-2 .u-layout-cell-4 {
  background-image: none;
  min-height: 314px;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-4 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 39px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-8 {
  margin: 19px 23px 0 17px;
}

.u-section-2 .u-text-9 {
  position: relative;
  font-size: 0.875rem;
  margin: 31px 20px 0;
}

.u-section-2 .u-layout-cell-5 {
  background-image: none;
  min-height: 314px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-5 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 50px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-10 {
  margin: 11px 20px 0;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  margin: 30px 20px 0;
}

.u-section-2 .u-layout-cell-6 {
  background-image: none;
  min-height: 314px;
}

.u-section-2 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-icon-6 {
  height: 99px;
  width: 99px;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 23px auto 0;
  padding: 19px;
}

.u-section-2 .u-text-12 {
  margin: 35px 20px 0;
}

.u-section-2 .u-text-13 {
  position: relative;
  font-size: 0.875rem;
  margin: 15px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 589px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 284px;
  }

  .u-section-2 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 284px;
  }

  .u-section-2 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-11 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 284px;
  }

  .u-section-2 .u-text-12 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 451px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 423px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.u-section-2 .u-icon-1,
.u-section-2 .u-icon-1:before,
.u-section-2 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  color: #f1c50e !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-icon-1 .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  color: #f1c50e !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-1 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-1 .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-section-2 .u-icon-2,
.u-section-2 .u-icon-2:before,
.u-section-2 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-2 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-3,
.u-section-2 .u-icon-3:before,
.u-section-2 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-3 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-3 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-4,
.u-section-2 .u-icon-4:before,
.u-section-2 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-4 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-4 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-5,
.u-section-2 .u-icon-5:before,
.u-section-2 .u-icon-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-5 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-5 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-5 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-section-2 .u-icon-6,
.u-section-2 .u-icon-6:before,
.u-section-2 .u-icon-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-icon-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-6 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-2 .u-icon-6 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  stroke-width: 0px !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-icon-6 {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(255,255,255,0.65)), url("images/b3da07dba4061211b19f5e2aa6b3abda.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 524px;
  margin: 0 auto;
}

.u-section-3 .u-group-1 {
  width: 937px;
  min-height: 396px;
  height: auto;
  margin: 45px auto 60px 85px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-3 .u-text-1 {
  width: 673px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 36px auto 0;
}

.u-section-3 .u-text-2 {
  text-shadow: -2px 0px 8px rgba(128,128,128,1);
  margin: 85px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 772px;
    margin-top: 58px;
    margin-left: auto;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 555px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 592px;
  }

  .u-section-3 .u-text-1 {
    width: 425px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    width: 399px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    width: 335px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 793px;
}

.u-section-4 .u-group-1 {
  width: 1009px;
  min-height: 238px;
  height: auto;
  margin: 45px 55px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  font-size: 2.5rem;
  margin: 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 30px auto 92px 0;
}

.u-section-4 .u-image-1 {
  min-height: 422px;
  background-image: url("images/pre2.jpeg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-2 {
  background-image: url("images/pre1.jpeg");
  min-height: 422px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-image-3 {
  background-image: url("images/76fab2972f81f9b7b0ca7b8eca061d37.jpeg");
  min-height: 422px;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-4 .u-group-1 {
    width: 704px;
    margin-right: 96px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 400px;
  }

  .u-section-4 .u-image-2 {
    min-height: 400px;
  }

  .u-section-4 .u-image-3 {
    min-height: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 539px;
    margin-right: 73px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-4 .u-image-1 {
    min-height: 267px;
  }

  .u-section-4 .u-image-2 {
    min-height: 267px;
  }

  .u-section-4 .u-image-3 {
    min-height: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 485px;
    min-height: 186px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 601px;
  }

  .u-section-4 .u-image-2 {
    min-height: 601px;
  }

  .u-section-4 .u-image-3 {
    min-height: 601px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1607px;
  }

  .u-section-4 .u-group-1 {
    min-height: 303px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 46px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 378px;
  }

  .u-section-4 .u-image-2 {
    min-height: 378px;
  }

  .u-section-4 .u-image-3 {
    min-height: 378px;
  }
} .u-section-5 {
  background-image: linear-gradient(#e9f2fa, #e9f2fa);
  min-height: 660px;
}

.u-section-5 .u-text-1 {
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 467px);
}

.u-section-5 .u-gallery-1 {
  height: 400px;
  margin-top: 30px;
  margin-bottom: 118px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-1 {
  width: 400px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-2 {
  width: 400px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-3 {
  width: 400px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-4 {
  width: 400px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-5 {
  width: 400px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 385px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 295px);
  }

  .u-section-5 .u-back-image-1 {
    width: 358px;
  }

  .u-section-5 .u-back-image-2 {
    width: 358px;
  }

  .u-section-5 .u-back-image-3 {
    width: 358px;
  }

  .u-section-5 .u-back-image-4 {
    width: 358px;
  }

  .u-section-5 .u-back-image-5 {
    width: 358px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 492px);
  }

  .u-section-5 .u-gallery-1 {
    height: 286px;
  }

  .u-section-5 .u-back-image-1 {
    width: 274px;
  }

  .u-section-5 .u-back-image-2 {
    width: 274px;
  }

  .u-section-5 .u-back-image-3 {
    width: 274px;
  }

  .u-section-5 .u-back-image-4 {
    width: 274px;
  }

  .u-section-5 .u-back-image-5 {
    width: 274px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 67px;
    margin-left: calc(((100% - 1140px) / 2) + 505px);
  }
} .u-section-6 {
  background-image: linear-gradient(#e9f2fa, #fbeced);
}

.u-section-6 .u-sheet-1 {
  min-height: 801px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 146px;
  height: auto;
  margin: 0 auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 49px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 43px auto 122px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 510px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-image-1 {
  width: 250px;
  height: 313px;
  margin: 43px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  position: relative;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  margin: 19px 224px 0 276px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-6 .u-group-1 {
    width: 470px;
    margin-top: 85px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin: -9px auto 20px 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 313px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-left: 176px;
    margin-right: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 360px;
    margin-left: 179px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 122px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-6 .u-image-1 {
    width: 209px;
    height: 209px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 66px;
    margin-right: 14px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-6 .u-group-1 {
    width: 452px;
    margin-left: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-6 .u-group-1 {
    width: 298px;
    min-height: 189px;
    margin-top: 55px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 260px;
  }
} .u-section-7 {
  background-image: linear-gradient(#e9f2fa, #adcce9);
}

.u-section-7 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-7 .u-shape-1 {
  width: 246px;
  height: 246px;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 63px auto 0;
}

.u-section-7 .u-image-1 {
  width: 471px;
  height: 471px;
  background-image: url("images/cover.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -235px auto 0 142px;
}

.u-section-7 .u-shape-2 {
  width: 168px;
  height: 168px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -424px auto 0 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1002px;
  background-image: linear-gradient(#e9f2fa, #adcce9);
  margin: 289px auto 20px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 566px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  margin: 1px auto 0;
}

.u-section-7 .u-form-1 {
  height: 415px;
  margin-top: 32px;
  margin-bottom: 0;
  box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-7 .u-btn-1 {
  letter-spacing: 1px;
  width: 100%;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 566px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-list-1 {
  width: 459px;
  margin: 43px -9px 0;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 387px;
  grid-gap: 29px 29px;
  grid-auto-columns: 100%;
}

.u-section-7 .u-list-item-1 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  background-image: linear-gradient(#f2f2f2, #adcce9);
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-7 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-7 .u-text-3 {
  margin: 19px 1px 0;
}

.u-section-7 .u-list-item-2 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  background-image: linear-gradient(#f2f2f2, #adcce9);
}

.u-section-7 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-7 .u-icon-2 {
  vertical-align: 0px;
}

.u-section-7 .u-text-5 {
  margin: 19px 1px 0;
}

.u-section-7 .u-list-item-3 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  background-image: linear-gradient(#f2f2f2, #adcce9);
}

.u-section-7 .u-container-layout-5 {
  padding: 20px 30px 15px;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-7 .u-icon-3 {
  vertical-align: 0px;
}

.u-section-7 .u-text-7 {
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1385px;
  }

  .u-section-7 .u-shape-1 {
    width: 218px;
    height: 218px;
    margin-right: 30px;
  }

  .u-section-7 .u-image-1 {
    width: 695px;
    height: 695px;
    margin-right: 112px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 852px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 574px;
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-7 .u-layout-cell-2 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 531px;
  }

  .u-section-7 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 25px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1633px;
  }

  .u-section-7 .u-shape-1 {
    width: 184px;
    height: 184px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 471px;
    height: 471px;
    margin-right: 0;
    margin-left: 69px;
  }

  .u-section-7 .u-shape-2 {
    width: 140px;
    height: 140px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1453px;
  }

  .u-section-7 .u-shape-1 {
    width: 139px;
    height: 139px;
  }

  .u-section-7 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-shape-2 {
    width: 94px;
    height: 94px;
    margin-top: -293px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-bottom: 20px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}